.output{
    border: 1px solid #E0E0E0;
    background: #28a745!important;
	padding: 1%;
	box-shadow: 0 0 15px 0 lightgrey;
}

.line-content{
    border: 1px solid #2A3F54;
	padding: 1%;
	box-shadow: 0 0 15px 0 lightgrey;
}

.field-value {
    display: inline-block;
    display: block;
    min-height: 1em;
    margin: 2px;
    padding: 2px 5px 2px 5px;
    background: white;
    font-style: normal;
    border-bottom: solid 1px #CCC;
    color: #042955;
}
