{% extends 'ui_main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
               <h5 class="text-info">Add New Role {% for message in messages %}
                <span class="float-right text-info">
                        <i class="fa fa-info"></i>
                            {{message}}
                    </span> {% endfor %}
            </h5>
          </div>
             <div class="col-md-12 mx-auto">
                <div class="separator"></div>
                 <div class="col-md-6 line-content">
                 <form action="" method="post">
                     {% csrf_token %}

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Role Name</label>
                            <div class="col-sm-8">
                                {{form.role_name | as_crispy_field}}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-info">Submit</button>

                       </form>
                 </div>
                 </div>
             </div>
        </div>

{% endblock content %}